*.suo
*.user
*.coverage
.vs
.psproj
.sln
Modules/Microsoft365DSC/DscResource.Tests
Modules/Microsoft365DSC/DscResource.Tests/*
node_modules
node_modules/*
markdownissues.txt
start-unittests.ps1
TestDSCresource.ps1
Modules/Microsoft365DSC/DSCResources/MSFT_EXOMalwareFilterPolicy/Set-MalwareFilterPolicy.txt
docker/Extract.ps1
docker/Monitor.ps1
Modules/start-extraction.ps1
Modules/Microsoft365DSC/DSCResources/MSFT_EXOAvailabilityAddressSpace/Add-AvailabilityAddressSpace-parameterset.txt
*.log
DscResource.Tests/*
CodeCov.xml

# generated docs
docs/site
