name: Code Coverage
on: [push]

jobs:
  # This workflow contains a single job called "build"
  CodeCoverage:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Only when run from the main repo
    if: github.repository == 'microsoft/Microsoft365DSC'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Install Modules
        shell: pwsh
        run: |
          $Dependencies = @(
            @{
                ModuleName      = 'DSCParser'
            },
            @{
                ModuleName      = 'ExchangeOnlineManagement'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Applications'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Authentication'
            },
            @{
                ModuleName      = 'Microsoft.Graph.DeviceManagement'
            },
            @{
                ModuleName      = 'Microsoft.Graph.DeviceManagement.Administration'
            },
            @{
                ModuleName      = 'Microsoft.Graph.DeviceManagement.Enrolment'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Devices.CorporateManagement'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Groups'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Identity.DirectoryManagement'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Identity.Governance'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Identity.SignIns'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Planner'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Teams'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Users'
            },
            @{
                ModuleName      = 'Microsoft.Graph.Users.Actions'
            },
            @{
                ModuleName      = 'Microsoft.PowerApps.Administration.PowerShell'
            },
            @{
                ModuleName      = 'MicrosoftTeams'
            },
            @{
                ModuleName      = "MSCloudLoginAssistant"
            },
            @{
                ModuleName      = 'PnP.PowerShell'
            },
            @{
                ModuleName      = 'ReverseDSC'
            }
          )

          foreach ($module in $Dependencies)
          {
            Install-Module $module.ModuleName -Force -Scope AllUsers
            Import-Module $module.ModuleName -Force
          }

          Install-Module Pester -Force -SkipPublisherCheck -RequiredVersion 5.4.0 -Scope AllUsers
          [System.Environment]::SetEnvironmentVariable('M365DSCTelemetryEnabled', $false, [System.EnvironmentVariableTarget]::Machine);
      - name: Run Quality Checks
        shell: pwsh
        run: |
          Import-Module './Tests/TestHarness.psm1' -Force;
          $MaximumFunctionCount = 9999

          try
          {
              $results = Invoke-QualityChecksHarness
          }
          catch
          {
              $MaximumFunctionCount = 9999
              Import-Module './Tests/TestHarness.psm1' -Force;
              $results = Invoke-QualityChecksHarness
          }
          if ($results.FailedCount -gt 0)
          {
              throw "{$($results.FailedCount)} Quality Check(s) Failed"
          }
      - name: Run Test Harness
        shell: pwsh
        run: |
          Import-Module './Tests/TestHarness.psm1' -Force;
          $MaximumFunctionCount = 9999

          try
          {
              $results = Invoke-TestHarness
          }
          catch
          {
              $MaximumFunctionCount = 9999
              Import-Module './Tests/TestHarness.psm1' -Force;
              $results = Invoke-TestHarness
          }
          if ($results.FailedCount -gt 0)
          {
              throw "{$($results.FailedCount)} Unit Test(s) Failed"
          }
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./CodeCov.xml
