name: Publish to PowerShell Gallery

on: 
  push:
    branches:
      - master

jobs:
  PublishToGallery:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      shell : powershell
      run: |
       [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12
       $manifest = Import-PowerShellDataFile "./Modules/Microsoft365DSC/Microsoft365DSC.psd1"
       $dependencies = $manifest.RequiredModules
       foreach ($dependency in $dependencies)
       {
           Write-Verbose -Message "Installing Module {$($dependency.ModuleName)} Version {$($dependency.RequiredVersion)}"
           Install-Module $dependency.ModuleName -RequiredVersion $dependency.RequiredVersion -Force -SkipPublisherCheck -AllowClobber -Scope AllUsers -Verbose
           try
           {
               Import-Module $dependency.ModuleName -Force
           }
           catch
           {
               Write-Verbose -Message $_
           }
       }
    - name: Publish
      shell : powershell
      env:
        PUBLIC_NUGETAPIKEY: ${{ secrets.NugetAPIKey }}
      run: |
        Publish-Module -Path "./Modules/Microsoft365DSC/" -NugetAPIKey $env:PUBLIC_NUGETAPIKEY
