# This is a basic workflow to help you get started with Actions

name: Publish to PowerShell Gallery

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the Dev branch
on:
  push:
    branches: [ Master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Publish
      shell : powershell
      env:
        PUBLIC_NUGETAPIKEY: ${{ secrets.NugetAPIKey }}
      run: |
       Publish-Module -Path "./Modules/Microsoft365DSC/" -NugetAPIKey $env:PUBLIC_NUGETAPIKEY
